#about{
	@include span-columns(12);
	height:100%;
	background-color:white;
	opacity:.9;
	z-index:22;
	position:fixed;
	top:0;
	left:0;
	h2 {
		display:inline-block;
		letter-spacing: 4px;
		margin:0;
		padding:0;
	}
	p {
		display:inline-block;
		padding:4px;
		padding-top:0px;
	}

	@include media($mobile) {
	  @include span-columns(4);
	  height:667px;
	  display:none;
	  img	{

	  	@include span-columns(4);
	  }
	}
	display:none;
}