#art-wall {
	padding:0;
	margin:0;
	position:fixed;
	right:0;
	bottom:0;
	@include span-columns(10 of 12);
	background-color:black;
	opacity:.8;
	z-index:20;
	height:100%;
	display:none;
	color:white;

	#back-btn{
		@include span-columns(2);
		img {
			height:40px;
		}

	}
	#add-btn{
		@include span-columns(1);
		position:fixed;
		right:0;
		img {
			height:40px;
		}

	}
	#artist-name{
		@include span-columns(6 of 10);
		@include shift(2);
	}
	#location-name{
		@include span-columns(6 of 10);
		@include shift(2);
		text-align:center;

	}
	.main-photo{
		background-color:white;
		position:relative;
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		top:auto;
		img {
			@include span-columns(6 of 10);
			@include shift(2);
			height:auto;
		}
	}
	#photo-cred{
		@include span-columns(4 of 10);
		@include shift(5);
	}
	.description{
		margin-top:2em;
		@include span-columns(8 of 10);
		@include shift(1);
		text-align:center;
	}
	.wall-history{
		@include span-columns(10 of 10);
		background-color:#8F9998;
		height:12em;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
		

		h2 {
			@include span-columns(10 of 10);
			display:block;
		}

		li.thumbnail-img{
			display:inline-block;
			list-style:none;
			margin: .5em;
			height:50px;
			img{
				margin: 1em;
				height:4em;
			}
		}
		p {
			color:#4C5251;
			text-align:center;
		}
		
	}
margin-right:0;
}
#art-wall-backer {
	padding:0;
	margin:0;
	position:fixed;
	right:0;
	bottom:0;
	width:100%;
	background-color:black;
	opacity:.8;
	z-index:19;
	height:100%;
	display:none;
} 