#art-wall, #full-search {
	padding:0;
	margin:0;
	position:fixed;
	right:0;
	bottom:0;
	@include span-columns(12 of 12);
	background-color:#424242;
	background-color:white;
	opacity:.95;
	z-index:20;
	height:100%;
	display:none;
	color:white;

	#back-btn{
		margin-top:3px;
		font-size:1.2em;
		margin-top:1em;
		margin-left:15px;
		color:#424242;
		@include span-columns(2);
		img {
			height:40px;
		}
	}
	.muro-letters{
		height:40px;
		background-color:none;
		color:#424242;
		border-radius:1em;
		padding:.3em;
		box-shadow: 3px 3px 4px #424242;
	}
	#search-muro-logo {
		
		margin-top:3px;
		text-align:center;
		@include span-columns(2.05 of 4);
		margin-left:4%;
		img {
			margin-left:auto;
			margin-right:auto;
			text-align:center;
			height:34px;

		}
	}
	#add-btn{
		margin-top:3px;
		font-size:1.2em;
		margin:1em;

		border-radius:1em;
		

		color:#424242;
		
		position:fixed;
		margin-right:15px;
		right:5px;
		img {
			height:40px;
		}

	}
	.wall-history{
		margin:0;
		padding:0;
		@include span-columns(12 of 12);

		
		background-repeat: repeat-y;
    @include media($mobile){ 
    	@include span-columns(4 of 4);
    	background-color:white;
	    overflow-x: hidden;
	    -webkit-overflow-scrolling: touch;
			background-repeat: repeat-y;
	    height:90%;
  	}

    
		li.graph-container{
			margin:0;

			
			-webkit-overflow-scrolling: touch;
			padding:0;
			display:block;
			list-style:none;
			 overflow-x: hidden;
    	
			
			@include media($mobile){
				@include span-columns(4 of 4);
				display:block;
				padding:0;
				margin:0;

				h2.artist-name{
					font-size:1.5em; 
					float:center;
					display:block;
					@include span-columns(4 of 4);
					margin-bottom:0;
					text-align:center;
					float:center;
					
					color:#424242;
					font-size:1.5em;
					letter-spacing:.6em;
					border-radius:1em;

					
				}
				.photo-cred, .crew-name{
					
					color:#424242;
					padding:0;
					margin: 0 0 0 0;
					display:block;
					text-align:center;
					
					font-size: .5em;
					letter-spacing:3px;
					
					display:block;
					@include span-columns(4 of 4);
					span {
						color:#424242;
						letter-spacing:.5em;
					}
					

				}
				.crew-name {
					text-align:center;
					margin-left:1.5em;

				}
				.art-description{
					display:block;
					text-align:center;
					color:#424242;
					@include span-columns(4 of 4);
					margin-bottom:3em;
					
				}

				img {
					margin-top:0em;
					margin-bottom:0em;
					height:auto;
					vertical-align:text-top;
					display:inline-block;
					border:2px solid white;
					border-radius:1em;
					opacity:.8;
					@include span-columns(2 of 4);
					@include shift(1);
				}
				img:hover, img:active{
					@include shift(0);
					@include span-columns(4 of 4);
					opacity:1;
					border:1px solid white;
					border-radius:.5em;
				}
				p.time {
					font-size:1em;
					margin-left:auto;
					margin-right:auto;
					margin-top:2em;
					@include span-columns(1 of 4);
					@include shift(1.5);
					display:block;
					background-color:white;
					border-radius:2em;
					padding:.9em;
					margin-bottom:3em;
					text-align:center;
					color:#424242;
					box-shadow: 3px 3px 4px #424242;

				
				}
				.branch {
					background-color:white;
					@include span-columns(1 of 4);
					display:inline-block;
					height:.3em;
					margin-left:15px;
				}
			}
		}

		li.graph-container:nth-child(even){
			
			h2.artist-name{
				
			}
			img {
				
			}
			img:hover, img:active{	
				@include shift(0);
				
			}

		}
	}
margin-right:0;
}
#art-wall-backer {
	padding:0;
	margin:0;
	position:fixed;
	right:0;
	bottom:0;
	width:100%;
	background-color:black;
	opacity:.8;
	z-index:19;
	height:100%;
	display:none;
} 