#create-wall-form {
	padding:0;
	margin:0;
	height:100%;
	position:absolute;
	right:0;
	bottom:0;
	@include span-columns(10);
	background-color:black;
	opacity:.8;
	z-index:20;
	display:none;
	margin-right:0;
	li{
		margin:20px;
		height:50px;
	}
	input {
		text-align:center;
		display:inline-block;
		@include span-columns(4);

		border-radius: 6px;
		border:none;
		height:3em;
		height:50px;
	}
	img {
		text-align:center;
		float:left;
		height:50px;
		display:inline-block;
	}

	#artist-name-field{
	}
	#photographers-name-field{
	}
	#location-name-field{
	}
	#image-name{
	}
	#submit{
		display:block;
		background-color:white;
		@include span-columns(2);
		padding:.2em;
		margin:.2em;
		border-radius: 6px;
		border:none;
		height:2em;
	}

}
#create-wall-form-backer {
	padding:0;
	margin:0;
	position:fixed;
	right:0;
	bottom:0;
	width:100%;
	background-color:black;
	opacity:.8;
	z-index:19;
	height:100%;
	display:none;
} 