#create-wall-form {
	padding:0;
	margin:0;
	height:100%;
	position:absolute;
	right:0;
	bottom:0;
	@include span-columns(10);
	background-color:black;
	opacity:.8;
	z-index:20;
	display:none;
	margin-right:0;
	li{
		margin:20px;
		height:50px;
	}
	input{
		margin:0;
		padding:0;
		text-align:center;
		display:inline-block;
		@include span-columns(4);
		border-radius: 6px;
		border:none;
		height:3em;
		height:50px;
		@include media($mobile){
		height:50px;
			@include span-columns(3);
			vertical-align:text-top;
		}

	}
	#photoFile {
		padding:1em;
		color:red;
	}
	img {
		margin:20px 0 0 0;
		padding:0;
		text-align:center;
		float:left;
		height:50px;
		display:inline-block;
		@include media($mobile){
			height:50px;
			@include span-columns(1);
			vertical-align:text-top;
		}
	}

	#artist-name-field{
	}
	#photographers-name-field{
	}
	#location-name-field{
	}
	#image-name{
	}
	#displayDate-name-field {
		@include media($mobile){
			height:1.5em;
			margin-top:15px;;
			width:165px;
		}
		vertical-align:middle;
		font-size:1em;
		padding-top:90px;
	}
	input#photoFile {
		
		background-color:black;
		color:black;
	}

	input#submit{
		display:block;
		background-color:white;

		@include span-columns(2);
		padding:.2em;
		margin:.2em;
		border-radius: 6px;
		border:none;
		border-radius:1em;
		height:4em;

		@include media($mobile){
			width:7em;
			padding:5px;
			float:right
		}
	}

}
#create-wall-form-backer {
	padding:0;
	margin:0;
	position:fixed;
	right:0;
	bottom:0;
	width:100%;
	background-color:black;
	opacity:.8;
	z-index:19;
	height:100%;
	display:none;

} 