@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "about";
@import "map";
@import "create-wall";
@import "art_wall";
@import "search";

body,html {
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
}
button {
	border:none;
	background-color:red;
	display:inline-block;
	height:2em; 
	width:2em;
}

#muro-welcome {
	@include span-columns(12);
	@include shift(0);
	z-index:10;
	position:fixed;
	top:0;
	@include media($mobile) {
		img {
		  @include span-columns(4);
		  @include shift(0);
		}
	}
}

#main-nav {
	z-index:100;
	padding:0;
	margin:0;
	background-color:black;
	opacity: .8;
	height:7em;
	position:absolute;
	bottom:0;
	z-index:12;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	@include span-columns(12);
	#about-icon-btn, #map-icon-btn, #find-icon-btn{

	}
	@include media($mobile) {
		@include span-columns(4);
		#about-icon-btn, #map-icon-btn, #find-icon-btn{
			
			img {
				margin-left:2.2em;
				margin-right:2.2em;
				@include span-columns(1);
				vertical-align:text-top;

			}
		}
	}

}

#logo-corner{
	height:4em;
	width:auto;
	position:absolute;
	top:0;
	right:0;
	z-index:200;
	img {
		height:7em;
		width:auto;
	}
	display:none;
}
