@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "map";
@import "create-wall";
@import "art_wall";

body,html {
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
}

#muro-welcome {
	background-color: #00A0B0;
	border-radius:6px;
	padding: 1em;
	text-align: center;
	position: fixed;
	z-index: 10;
	opacity: .9;
	top: 5em;
	color:white;
	@include span-columns(6);
	@include shift(3);
}

#map-btn {
	background-color: #00A0B0;
	border-radius:10px;
	padding-right:4px;
	padding-left:4px;
	text-align: center;
	position: fixed;
	z-index: 10;
	opacity: .9;
	bottom:30px;
	color:white;
	@include span-columns(2);
	@include shift(5);
	img {
		@include span-columns(12);

	}
}

#map-tools{
	display:none;
	#create-wall-prompt{
		background-color: #00A0B0;
		z-index: 10;
		color:white;
		text-align: center;
		position: fixed;
		padding:1em;
		bottom:5em;
		right:0em;
		@include span-columns(4);
	}
	#search-map-btn{
		background-color: #00A0B0;
		border-radius:6px;
		z-index: 10;
		color:white;
		text-align: center;
		position: fixed;
		bottom:20em;
		width:auto;
		img{
			height:70px;
		}

	}
	#find-my-location{
		background-color: #00A0B0;
		border-radius:6px;
		z-index: 10;
		color:white;
		text-align: center;
		position: fixed;
		bottom:5em;
		width:auto;
		img{
			height:70px;
		}

	}

}

