<template name="about">
	<div id="about">
		<img src="/images/muro-letters.png">
		<h2>about</h2>
		<p>MURO is an online, community driven resourcefor archiving street art of the past and the present</p>
		<hr>
		<h2>contact</h2>
		<p>Email <a href="mailto:info@muro.com">info@muro.com</a> for any comments, concerns, or questions.</p>
		<hr>
		<h2>code of conduct</h2>
		<p>Post pictures and info about street art. Leave your Hate-o-rade at home</p>
		<hr>
		
		<h2>become a curator</h2>
		<p>Everyone is able to contribute to this online encyclopedia, but only few can be curators. Email us if you want to be a curator.</p>
	</div>
</template>