
<template name="create_wall">
  <form class="add-to-art-wall" id="create-wall-form">
    <div >

     

      <input type="filepicker" data-fp-apikey="AFLjBK2fuR3yB6392VS5wz"
onchange="alert(event.fpfile.url)">

      <li>
        <img src="/images/icons_spray_paint_can.png">
        <input id="artist-name-field" name="artistName" type="text" placeholder="Artist-Name"/>
      </li>
      <li>
        <img src="/images/icons_white_crew.png">
        <input id="crew-name-field" name="crewName" type="text" placeholder="Crew-Name"/>
      </li>
      <li>
        <img src="/images/icons_white_descript.png">
        <input id="artDescription-name-field" name="artDescription" type="text" placeholder="artDescription"/>
      </li>
      <li>
        <img src="/images/icons_white_camera.png">
        <input id="photographers-name-field" name="photographerName" type="text" placeholder="Photographer-Name"/>
      </li>
      <li>
        <img src="/images/icons_white_photograph.png">
        <input id="image-name" name="imageName" type="text" placeholder="image-Name"/>
      </li>
      <li>
        <img src="/images/icons_white_map_and_marker.png">
        <input id="location-name-field" name="locationName" type="text" placeholder="Location-Name"/>
      </li>
      <li>
        <img src="/images/icons_white_calendar.png">
        <input id="displayDate-name-field" name="displayDate" type="text" placeholder="date displayed on:"/>
      </li>
      
      <img src="/images/icons_white_cloud_upload.png">
      <input id="" type="file"><br>

      <input id="submit" type="submit">
    </div>
  </form>
  <div id="create-wall-form-backer"></div>
</template>