
<template name="create_wall">
  <form class="add-to-art-wall" id="create-wall-form">
    <div>        

      <li>
        <img src="/images/icons_spray_paint_can.png">
        <input id="artist-name-field" name="artistName" type="text" placeholder="Artist-Name"/>
      </li>
      <li>
        <img src="/images/icons_white_crew.png">
        <input id="crew-name-field" name="crewName" type="text" placeholder="Crew-Name"/>
      </li>
      <li>
        <img src="/images/icons_white_descript.png">
        <input id="artDescription-name-field" name="artDescription" type="text-area" placeholder="Art Description"/>
      </li>
      <li>
        <img src="/images/icons_white_camera.png">
        <input id="photographers-name-field" name="photographerName" type="text" placeholder="Photographer Name"/>
      </li>
      <li>
        <img src="/images/icons_white_calendar.png">
        <input id="displayDate-name-field" name="displayDate" type="date" placeholder="date displayed on:"/>
      </li>
      <li>
        <img src="/images/icons_white_cloud_upload.png">
        <input id="photoFile" name="photoFile" placeholder="Upload Photo" data-buttonText="Your label here." type="file">
      </li><br>

      <input id="submit" type="submit">
    </div>
  </form>
  <div id="create-wall-form-backer"></div>
</template>