
<template name="create_wall">
  <form class="add-to-art-wall" id="create-wall-form">
    <div >
      <input id="artist-name-field" name="artistName" type="text" placeholder="Artist-Name"/>
      <input id="photographers-name-field" name="photographerName" type="text" placeholder="Photgrapher-Name"/>
      <input id="image-name" name="imageName" type="text" placeholder="image-Name"/>
      <input id="location-name-field" name="locationName" type="text" placeholder="Location-Name"/>
      <input id="" type="file">
      <input id="submit" type="submit">
    </div>
  </form>
  <div id="create-wall-form-backer"></div>
</template>