<template name="page">
	<div id="muro-welcome">
		<img src="/images/logo_muro.png">
	</div>
	<div id="logo-corner">
		<img src="/images/logo_muro.png">
	</div>

	<div id="main-nav"><br>
		<div id="about-icon-btn">  
			<img src="/images/icons_white_cone-04.png">
		</div>
		<div id="map-icon-btn">  
			<img src="/images/icons_white_map_and_marker.png">
		</div>
		<div id="find-icon-btn">  
			<img src="/images/icons_white_magnifying_glass.png">
		</div>

	</div>
	<div id="peek">
		<img id="fat-cap" src="/images/icons_white_fat_cap-02.png">
	</div>
	<div id="peek-search">
		<input>
		<img id="search" src="/images/icons_white_magnifying_glass.png">
		<img id="x-circle" src="/images/icons_white_x_circle.png">
	</div>
	<div id="about">
		<img src="/images/muro-letters.png">
		<h2>about</h2>
		<p>MURO is an online, community driven resourcefor archiving street art of the past and the present</p>
		<h2>contact</h2>
		<p>Email <a href="mailto:info@muro.com">info@muro.com</a> for any comments, concerns, or questions.</p>
		<h2>code of conduct</h2>
		<p>Post pictures and info about street art. Leave your Hate-o-rade at home</p>
		<h2>become a curator</h2>
		<p>Everyone is able to contribute to this online encyclopedia, but only few can be curators. Each city needs a few curators who have the ability to delete un-wanted photos. Email us if you want to be a curator.</p>
	</div>
	{{> create_wall}}
	{{> art_wall}}
	{{> map}}
</template>