<template name="page">
	<div id="muro-welcome">
		<h1> MURO </h1>
		<h3>archive street art</h3>
		<img src="/images/icons_white_wall.png">
	</div>

	<div id="map-btn">  
		<img src="/images/icons_white_photograph.png">
	</div>
	<div id="map-tools">
		<div id="create-wall-prompt">create-wall-prompt</div>
		<div id="search-map-btn">
			<img src="/images/icons_white_magnifying_glass.png">
		</div>
		<div id="find-my-location">
			<img src="/images/icons_white_marker.png">
		</div>
	</div>
	{{> create_wall}}
	{{> art_wall}}
	{{> map}}
</template>