<template name="page">
	<div id="muro-welcome">
		<img src="/images/largest_muro_logo-01[1].png">
	</div>
	<div id="logo-corner">
		<img src="/images/logo_muro.png">
	</div>

	<div id="main-nav"><br>
		<div id="about-icon-btn">  
			<img src="/images/icons_white_cone-04.png">
		</div>
		<div id="map-icon-btn">  
			<img src="/images/icons_white_map_and_marker.png">
		</div>
		<div id="find-icon-btn">  
			<img src="/images/icons_white_magnifying_glass.png">
		</div>

	</div>
	<div id="peek">
		<img id="fat-cap" src="/images/icons_white_fat_cap-02.png">
	</div>
	<div id="peek-search">
		<input>
		<img id="search" src="/images/icons_white_magnifying_glass.png">
		<img id="x-circle" src="/images/icons_white_x_circle.png">
	</div>
	{{> about}}
	{{> full_search}}
	{{> create_wall}}
	{{> art_wall}}
	{{> map}}
</template>